<li>
    <% if(locals.user && locals.user.id == comment.user.id) { %>
            <a href="/comments/destroy/<%= comment.id %>">delete comment</a>
     <%  } %>
    <%= comment.content  %><$nbsp>
    <small>
            <%= comment.user.name %>
    </small>
    <br>
   </li>