<h1>this is codeial  <%= title  %></h1>

<section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create-posts" id="new-post-form" method="post">
                <textarea name="content"  placeholder="Type Here"  cols="30" rows="4"></textarea>
                <input type="submit" value="Post">
        </form>

        <div id="posts-list-container">
                <ul>
                   <% for(post of posts) { %>
                        <p>
                        <li><%= post.content %></li>
                       <small> <%= post.user.name %></small>
                        </p>
                    <% } %>  
                </ul>
        </div>
</section>
    