<h1>sign in</h1>
<form action="/users/create-session" method="post">
<input type="email" name="email" placeholder="Your Email" required>
<input type="password" name="password" placeholder="Your Password" required>
<input type="submit" name="sign In" value="Sign In"></input>
</form>
<!-- here create-session and in the cpntroller action is named as createSession.both r same? -->
<!-- but from here we are directing the form to a particular action n it should be same ri8? -->