#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        width: 50%;
        padding: 10px;
    }
    #user-friends{
        width: 20%;
        border-left: 2px solid lightgray;
    }
    #activity-section{
        width:30%;
        border-right: 2px solid lightgray;
    }
}